# compiled executable
copy_tree
load_tree
load_tree_string
print_distance_matrix
print_distances
print_mrca
print_node_data
print_num_descendants
print_root_dists
print_stats
print_subtree_mrca
print_topology

# input/output files
*.gz
*.log
*.nwk
*.tre
*.txt
html
latex

# SWIG files
compact_tree.py
compact_tree_wrap.cxx

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
